body {
    font-family: sans-serif;
    width: 75%;
    margin: auto;
}

 gu-note {
    background-color : yellow;
    border           : 1px dotted black;
    padding          : 5px 20px;
    cursor           : pointer;
}

#toolbar {
    width  : 70%;
    margin :10px;
}

.block {
    margin  : 30px 2%;
    padding : 20px;
}

p.comment {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: lightgrey;
}

#result {
    border  : 1px dashed red;
}

#editor {
    border : 1px dashed lightblue;
}
